.container{
  width: 837px;
  height: 702px;
  border: 1px solid black;
  margin: 0 auto;
 padding: px;
}

.col{
  background-color: #ffffff;
  width: 835px;
  height: 700px;


}

a:link{

text-decoration: none;

}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: ;
}

nav ul{
  float: right;
  margin-right: px;
}
nav ul li{
  display: inline-block;
  line-height: 30px;
  margin: 10px;
}
nav ul li a{
  color: orange;
  font-size: 25px;
  text-transform: uppercase;
}